<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mock Interview</title>
    <link rel="stylesheet" href="{% static 'css/interviewcss/styles.css' %}">
    {% comment %} <script src="{% static 'js/interviewjs/index.js' %}"></script> {% endcomment %}
   

</head>
<body>
    <header>
        <h1>Mock Interview Application</h1>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <script>
        
    </script>
</body>
</html>
