{% extends "base.html" %}
{% block content %}
<div class="card bg-dark p-5" style="width: 400px; margin: 0 auto;">

  

  <h3 class="text-light">Signup</h3>
  
  <form action="/auth/signup/" method="post" style="color: #fff;">

    {% csrf_token %}
    <br />

    <label for="name">Name</label>
    <div class="form-group">
      <input
        type="text"
        class="form-control p-2"
        id="name"
        name="name"
        required
        style="width: 100%;"
      />
    </div>

    <label for="email">Email</label>
    <div class="form-group">
      <input
        type="email"
        class="form-control p-2"
        id="email"
        name="email"
        required
        style="width: 100%;"
      />
    </div>

    <label for="pass1">Password</label>
    <div class="form-group">
      <input
        type="password"
        class="form-control p-2"
        id="pass1"
        name="pass1"
        required
        style="width: 100%;"
      />
    </div>

    <label for="pass2">Confirm Password</label>
    <div class="form-group">
      <input
        type="password"
        class="form-control p-2"
        id="pass2"
        name="pass2"
        required
        style="width: 100%;"
      />
    </div>

    <br />
    <button type="submit" class="btn btn-success" style="width: 100%;">SignIn</button>

    <br />
    <center>Already User? <a href="/auth/login/" style="color: #4caf50;">Login</a></center>
    <br />
  </form>
</div>
<br><br>
{% endblock content %}  


